<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.barnabycolby.sqrlclient" >

    <uses-sdk
        android:targetSdkVersion="23"
        android:maxSdkVersion="23"
    />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.ConfirmSiteNameActivity"
            android:label="@string/confirm_site_name_label"
            >
            <!-- SQRL and QRL URI schemes -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="qrl" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sqrl" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.CreateNewIdentityActivity"
            android:label="@string/create_new_identity_label"
        />

        <activity
            android:name=".activities.EncryptIdentityActivity"
            android:label="@string/encrypting_identity_label"
        />

        <activity
            android:name=".activities.EnterNewPasswordActivity"
            android:label="@string/enter_new_password_label"
        />

        <activity
            android:name=".activities.EnterPasswordActivity"
            android:label="@string/enter_password_label"
        />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/login_label"
            />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/main_label"
            >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.NoIdentityActivity"
            android:label="@string/no_identity_label"
            />
    </application>

</manifest>
